.card {
  background: var(--card);
  margin-top: 20px;
  margin-bottom: 15px;
  border: 1px solid rgb(72, 72, 72);
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.input-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  padding: 8px;
  border-radius: 6px;
  border: none;
}
