<div class="card">
  <h3>Add Budget</h3>

  <form (submit)="submit($event)">
    <div class="input-card">
      <input
        type="text"
        placeholder="Name"
        [value]="name()"
        (input)="name.set($any($event.target).value)"
        required
      />

      <input
        type="number"
        placeholder="Amount"
        [value]="amount()"
        (input)="amount.set(+$any($event.target).value)"
        required
      />

      <button type="submit">Add</button>
    </div>
  </form>
</div>
